.signin-container{
    display: flex;
}
.signin-form{
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.image-container {
    margin-left: 20px;
  }
  .image-container img {
    width: 100%; 
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .text {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    font-family: 'Arimo', sans-serif;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .sub-text{
    font-size: 14px;
    font-weight: bold;
  }
  .terms-link {
    color: rgb(255, 81, 81);
    text-decoration: underline;
  }
  btton {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  btton:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
  }
  