/* WriteReview.css */

.write-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.review-form {
  max-width: 400px;
  width: 100%;
  margin-bottom: 36px;
}

.form-group {
  margin-bottom: 15px;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.review-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.review-item h4 {
  margin-bottom: 5px;
}

.review-item p {
  margin: 0;
}

.star-rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-rating-wrapper span {
  margin-left: 10px; /* Adjust the spacing as needed */
}
.product-image {
  width: 400px;
}
